* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#screen {
    background-image: url('./media/img/column.png');
    background-size:70px;
    background-repeat: space;
    width: 1300px;
    height: 935px;
    display: inline-block;
}

.wall-left {
    width: 70px;
    height: 795px;
    top: 70px;
    position: absolute;
    background-image: url('./media/img/wall-left.png');
    background-size: contain;
}
.wall-up {
    width: 1160px;
    height: 70px;
    left: 70px;
    position: absolute;
    background-image: url('./media/img/wall-up.png');
    background-size: contain;
}
.wall-right {
    width: 70px;
    height: 795px;
    top: 70px;
    left: 1230px;
    position: absolute;
    background-image: url('./media/img/wall-right.png');
    background-size: contain;
}
.wall-down {
    width: 1160px;
    height: 70px;
    left: 70px;
    top: 865px;
    position: absolute;
    background-image: url('./media/img/wall-down.png');
    background-size: contain;
}

#game {
    background-image: url('./media/img/floor.png');
    background-size: 40px;
    width: 1160px;
    height: 795px;
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
}

.column {
    background-image: url('./media/img/column.png');
    background-size: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
}

#door {
    background-image: url('./media/img/door-closed.png');
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 50px;
}

#player {
    background-image: url('./media/img/player-down.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
}

#boss {
    background-image: url('./media/img/boss-left.png');
    background-size: cover;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 150px;
}

#enemy {
    background-image: url('./media/img/enemy-down.png');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
}


.arrow {
    position: absolute;
    background-image: url('./media/img/arrow-up.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.fireball {
    position: absolute;
    background-size: cover;
}

#controlPanel {
    background-color: black;
    display: inline-block;
    width: 555px;
    height: 935px;
    position: absolute;
    left: 1300px;
}

#playerHealth {
    background-color: rgba(255, 0, 0, 1);
    position: absolute;
    width: 300px;
    height: 100px;
    margin: 20px;
}

#keyHolder {
    background-color: rgba(143, 143, 27, 0.5);
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 1175px;
}

#title {
    background-color: rgba(229, 167, 156, 1);
    width: 400px;
    height: 100px;
    margin-top: 40px;
    margin-left: 75px;
}

h1 {
    margin: 2px 50px;
    font-size: 70px;
    text-align: center;
}

#controls {
    background-color: rgba(229, 167, 156, 1);
    width: 400px;
    height: 550px;
    margin-top: 40px;
    margin-left: 75px;
}

h3 {
    margin: 170px 40px;
    font-size: 30px;
    text-align: center;
}

#authors {
    background-color: rgba(229, 167, 156, 1);
    width: 400px;
    height: 100px;
    margin-top: 40px;
    margin-left: 75px;border: 5px solid black;
}

h4 {
    margin: 8px 55px;
    font-size: 20px;
    text-align: center;
}