* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: zeldon;
    src: url(./media/font/Triforce.ttf);
}

#intro {
    background-color: black;
    width: 850px;
    height: 500px;
    display: absolute;
    margin-left: 155px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    font-family: zeldon;
    display: absolute;
    color: red;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    scale: 5;
    margin-top: 350px;
    margin-left: 537px;
}

/* #gameOver {
    width: 650px;
    display: absolute;
    opacity: 1;
    margin-top: 200px;
    margin-left: 260px;
}

#gameOver > p {
    padding: 40px;
    font-family: zeldon;
    background-color: black;
    border: 1px solid white;
    font-size: 90px;
    text-align: center;
    color: red;
}

#restart {
    font-family: zeldon;
    display: absolute;
    color: red;
    font-size: 30px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 250px;
    background-color: black;
    border: 1px solid white;
    scale: 1;
} */


#screen {
    background-image: url('./media/img/column.png');
    background-size:70px;
    background-repeat: space;
    width: 1300px;
    height: 935px;
    display: inline-block;
}

.wall-left {
    width: 70px;
    height: 795px;
    top: 70px;
    position: absolute;
    background-image: url('./media/img/wall-left.png');
    background-size: contain;
}
.wall-up {
    width: 1160px;
    height: 70px;
    left: 70px;
    position: absolute;
    background-image: url('./media/img/wall-up.png');
    background-size: contain;
}
.wall-right {
    width: 70px;
    height: 795px;
    top: 70px;
    left: 1230px;
    position: absolute;
    background-image: url('./media/img/wall-right.png');
    background-size: contain;
}
.wall-down {
    width: 1160px;
    height: 70px;
    left: 70px;
    top: 865px;
    position: absolute;
    background-image: url('./media/img/wall-down.png');
    background-size: contain;
}


#game {
    background-image: url('./media/img/floor.png');
    background-size: 40px;
    width: 1160px;
    height: 795px;
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
}

.column {
    background-image: url('./media/img/column.png');
    background-size: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
}

#door {
    background-image: url('./media/img/door-closed.png');
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 50px;
}

#player {
    background-image: url('./media/img/player-down.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
}

#boss {
    background-image: url('./media/img/boss-left.png');
    background-size: cover;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 150px;
}

#enemy {
    background-image: url('./media/img/enemy-down.png');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
}


.arrow {
    position: absolute;
    background-image: url('./media/img/arrow-up.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.fireball {
    position: absolute;
    background-size: cover;
}

#controlPanel {
    background-color: black;
    display: inline-block;
    width: 555px;
    height: 935px;
    position: absolute;
    left: 1300px;
}

#playerHealth {
    background-color: rgba(255, 0, 0, 1);
    position: absolute;
    width: 300px;
    height: 100px;
    margin: 20px;
}

#keyHolder {
    background-color: rgba(143, 143, 27, 0.5);
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 1175px;
}

#title {
    width: 400px;
    height: 100px;
    margin-top: 60px;
    margin-left: 75px;
    display: flex;
    justify-content: center;
}
#title > h1 {
    font-family: zeldon;
    text-shadow: -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white,
        -2px 0 0 white,
        2px 0 0 white,
        0 -2px 0 white,
        0 2px 0 white;
    color: red;
    text-align: center;
    font-style: italic;
    font-size: 100px;
    width: 400px;
}

#controls {
    width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 75px;
    font-family: zeldon;
    color: white;
}
#controls > p {
    text-align: center;
    font-size: 40px;
}


#authors {
    width: 400px;
    height: 100px;
    margin-top: 80px;
    margin-left: 75px;
    display: flex;
    justify-content: center;
}

#authors > span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
    width: 400px;
}

.keyboard {
    padding: 2.5em 0;
    width: 400px;
    margin: 0 auto;
    padding-left: 80px;
}

.top-row {
    width: 140px;
    margin-left: 80px;
}

.bottom-row {
    display: inline-flex;
}

.key {
    background-color: #353943;
    border: 1px solid white;
    box-shadow: 5px 5px #ffffff5e;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.spacebar {
    background-color: #353943;
    border: 1px solid white;
    box-shadow: 5px 5px #ffffff5e;
    color: #ffffff;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
}
