* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#screen {
    background-color: rgb(6, 70, 0);
    width: 1300px;
    height: 935px;
    position: relative;
    display: inline-block;
}

#game {
    background-color: green;
    width: 1160px;
    height: 795px;
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
}

.column {
    background-color: black;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
}

#door {
    background-color: rgb(114, 17, 17);
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 50px;
}

#player {
    background-color: greenyellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
}

#enemy {
    background-color: rgb(150, 1, 1);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
}

.arrow {
    position: absolute;
    background-color: black;
}


#controlPanel {
    background-color: blue;
    display: inline-block;
    width: 555px;
    height: 935px;
    position: absolute;
    left: 1300px;
}

#playerHealth {
    background-color: rgba(255, 0, 0, 1);
    position: absolute;
    width: 300px;
    height: 100px;
    margin: 20px;
}

#keyHolder {
    background-color: rgba(255, 255, 0, 0.5);
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 1175px;
}

#title {
    background-color:aqua;
    width: 400px;
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;
}

#controls {
    background-color: aqua;
    width: 400px;
    height: 550px;
    margin-top: 50px;
    margin-left: 75px;
}

#authors {
    background-color: aqua;
    width: 400px;
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;
}